{% load static %}



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--Custome CSS-->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!--FontAwsome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">



<div class="col-lg-9 pr-5">
                <div class="row mt-5">
                    <div class="col-md-4">
                        <div class="card shadow">
                            <h4 class="card-header header-custome"><i class="fas fa-chart-line mr-3 text-danger"></i>
                                Total</h4>
                            <div class="card-body">
                                <h4 class="text-center">60</h4>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fas fa-sync-alt"><span class="mx-3">Update</span> </i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow">
                            <h4 class="card-header header-custome"> <i
                                    class="far fa-check-square mr-3 text-success"></i> Registered
                            </h4>
                            <div class="card-body">
                                <h4 class="text-center">30</h4>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fas fa-sync-alt"><span class="mx-3">Update</span> </i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card shadow">
                            <h4 class="card-header header-custome"> <i class="fas fa-tasks mr-3 text-warning"></i>
                                Pending</h4>
                            <div class="card-body">
                                <h4 class="text-center">30</h4>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fas fa-sync-alt"><span class="mx-3">Update</span> </i>
                            </div>
                        </div>
                    </div>
                </div>