{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}">

     <title> tricolase farms</title>

   </head>
<body style="background-color:green">
  <div class="sidebar">
    <br>
    <br>
    <div class="logo-details">
      <br>
      <div class="image">
        <img src="{% static 'images/snail/logo.jpg' %}" class="img-circle elevation-2" width="100%" height="50%" alt="User Image">
      </div>
      

    </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <ul class="nav-links">
        <li>
          <a href="{% url 'home' %}" class="active">
            <i class="fas fa-columns"></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="{% url 'products' %}">
            <i class="fas fa-plus-circle"></i>
            <span class="links_name">Sponsor a CrowdFarm</span>
          </a>
        </li>
        <li>
          <a href="{% url 'account' %}">
            <i class="far fa-edit"></i>
            <span class="links_name">My Profile</span>
          </a>
        </li>
        <li>
          <a href="{% url 'gallery' %}">
            <i class="fas fa-eraser"></i>
            <span class="links_name">Gallery</span>
          </a>
        </li>
        <li>
          <a href="{% url 'news' %}">
            <i class="fas fa-minus-circle"></i>
            <span class="links_name">News Room</span>
          </a>
        </li>
        <li>
          <a href="{% url 'faq' %}">
            <i class="fas fa-minus-circle"></i>
            <span class="links_name">FAQ</span>
          </a>
        </li>
        <li>
          <a href="{% url 'logout' %}">
            <i class="fas fa-minus-circle"></i>
            <span class="links_name">Logout</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class="fas fa-columns"></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="profile-details">
        <img src="{% static 'images/snail/logo.jpg' %}" alt="Trisolace Farms">
        <span class="admin_name"> {{request.user}}</span>
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>

    <div class="home-content col-md-9" >
      <div class="overview-boxes">
        <div class="box description">
          <div class="right-side">
            <div class="box-topic" style="color: white;">Total Items</div>
            <div></div>
            <div class="number ti">{{total_count}}</div>
          </div>
        </div>
    
        <div class="home-content col-md-9" >
          
              </div>
            </div>
        
      <div class="overview-boxes" id="descStock">
        
      </div>
      
      
      <br>
    <table>
      <thead>
        <tr>
          <th scope="col" colspan="1">Item</th>
          <th scope="col">Amount</th>
          <th scope="col">Date</th>
          <th scope="col">Duration(months)</th>
        </tr>
      </thead>
      <tbody id="dispData">
        {% for order in orders %}

        <tr>
            <td>{{order.product}}</td>
            <td>{{order.amount}}</td>
            <td>{{order.date_created}}</td>
            <td>{{order.duration}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

  </section>
 <script src="{static 'dashboard/script/index.js'}"></script>
</body>
</html>
