{% load static %}


<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="{% static 'faq/assets/css/style.css' %}">
  <title>FAQ </title>
</head>
<body>
<header class="cd-header flex flex-column flex-center">
	<button type="button" class="btn btn-primary" class="glyphicon glyphicon-menu-left" onclick="location.href='{% url 'home' %}'">back to dashboard</button>
  <div class="text-component text-center">
    <h1>FAQ </h1>
    <p>👈 Investing </p>
  </div>
</header>

<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">
		<li><a class="cd-faq__category cd-faq__category-selected truncate" href="#basics">Tricolise</a></li>
		<li><a class="cd-faq__category truncate" href="#mobile">Tricolise CrowedFraming Portal</a></li>
		<li><a class="cd-faq__category truncate" href="#account">intresting facts about snails</a></li>
		
	</ul> <!-- cd-faq__categories -->

	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Tricolise</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>what is Trisolice company limited</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Trisolace company limited is a Ghanaian agricultural company that provides investment to its client by merging safe animal based farming with modern practices to provide the perfect investment opportunity and job creation whiles helping mitigate environmental impact.
			</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>what we are about</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>We are currently having an off-take agreement to supply clients both snails and vegetables for export. But we are limited so we are doing an out grower scheme for clients to build up stock for us to get to our export quota. We are also creating employment for our  out-growers and vulnerable women like single mum and out of school women by training them extensively in snails farming and vegetables in greenhouses and sort of leasing them on employment to our farmers/investors who own these smaller farms.
			So we help clients grow their own snails by building the Greenhouses for them, providing technical support, snails (point of lays) and market (buy back from them).
			We first do a soil laboratory test , which will give us the nutrient content of the soil, treats(pesticides, weedicides,what insects are habitat there,etc), After the lab report we do mitigation measures by treating the soil first and then we start the process of building.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			

			

		<ul id="mobile" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Tricolise CrowdFarming portal</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>what is Tricolise CrowdFarming portal? </span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p> Is a secure platform where entities with an interest in corwdfarming can grow and ripe the profits of produce without having to farm or own land, the portal aims to give interested parties inrespective of location the ability to patner with trisolice through funding.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How do I sign up?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>On the home page click on the singup button and fill out the form information,if all information is valied you will be redirectied to the login page to activate your account by logging in</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How do I Fund  Tricolise CrowdFarming</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>after you loggin you will be directed to your personal dashboard, On the left side of your screen click on fund trisolice you will be prompted with a details form to fill, when done click on the fund payment button, and select a payment scheme.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How do I check my fund history?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>In your dashboard, On the left side of your screen click on fund history, you will recieve the time and dates of each investment made in the portal, click on the prefered date and time to view it details.  when funding transactions are verified you will recieve an enail comfrimation, </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>when do i recieve my profit ?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p> partners profits will be recieved within the said period specified in the form by the funder </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

		<ul id="account" class="cd-faq__group">
			<li class="cd-faq__title"><h2>intresting facts about snails</h2></li>
			

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>all you need to know about snails</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Snails are gastropod mollusks; shelled land snails and called Nwa in the twi dialect.

				-snails have about 14,000 grinding pods or pincers for grinding their feed, they can eat most materials like their own shells , bricks,blocks , concrete (rough) and even gnaw on metals.

				-Ghana has 3 main types of land snails and even though it is in research that not all are native to Ghana these snails were brought and have adapted to the Ghanaian climate very well .

				- 3 types of land snails are Achatina Achatina (AA), Achatina Marginata (AM) and Achatina Fuluca(AF) who are considered pest and not native to Ghana . AF trieve very well but are not economically viable because most Ghanaians will not eat them : they are shunned because of where they are found ,in drains , homes ,backyard and very unpleasant places .

				-Snails do not smell or make noise so you can raise them anywhere even in rented housing .

				-Snails recycle house hold Organic waste and will eat some left overs but not salty food as it will dehydrate them. 

				– When they feel threatened, they usually retreat into their shell to protect themselves.

				– The largest land snail is the Achatina Marginata, the Giant African Snail.

				– Snails have no backbone.

				– The snails that have hatched first eat their egg shell for sustenance and even other eggs of their brothers.

				– Most snails live from 2 to 5 years, but in captivity, some have exceeded 10 or 15 years of age.

				– In France, edible snails are “escargot,” a word that also applies to a dish made with them, which is an appetizer.

				– The courtship, process by which they attract each other before mating, lasts between 2 and 12 hours.

				– In some places, people eat snail eggs, and call them “white caviar.”

				–Most Land snails hatch from eggs.

				– The mucus of the garden snail is used to treat wrinkles, spots, and scars on the skin.

				– Most snail species are hermaphrodites, so they have both male and female reproductive organs.

				– Land snails are nocturnal and are mostly very active at night or in dark places . So if you are able to create a dark humid place for them . They thrive most and can adapt  .

				--They only cover their entrance of their shell with a dry mucus secretion called epiphragm, when there is not much food and moisture in the pen . which tells the snails natural instinct to conserve energy and hibernate.  

				--Snails Hibernating is called Aestivation. snails have been known to have Aestiva for as long as 1 month to 4 months,without food or water .

				– Snails do not change shells when they grow up.” Instead, the shell grows along with them.

				– Some predators of land snails are beetles, rats, mice, turtles, salamanders, centipedes, millipedes,snakes and some birds.

				– Calcium carbonate is the main component of the snail shells.
				They need a lot of it in their feed for shell development and egg development. 

				– The food of land snails goes through a mouth structure called the radula, which has several rows of tiny teeth inside.

				– Land snails do not chew their food. They scrap it.</p>
				          </div>
				</div> <!-- cd-faq__content -->
			</li>

			
		
	</div> <!-- cd-faq__items -->

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->
<script src="{% static 'faq/assets/js/util.js' %}"></script> <!-- util functions included in the CodyHouse framework -->
<script src="{% static 'faq/assets/js/main.js' %}"></script> 
</body>
</html>