{% load static %}


{% if messg %}
<script>
    alert('{{ msg }}');
</script>
{% endif %}

{% if messg %}
<style>
  alert('{{ msg }}');
  body {
    font-family: "Roboto", sans-serif;
    background-color: #f8fafb;
    background: url("/static/signin/images/banner.jpg") 50% 0 no-repeat fixed;}
</style>
{% endif %}


<!doctype html>
<html lang="en">
{% csrf_token %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'signin/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'signin/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'signin/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'signin/css/style.css' %}">

    <title>signin</title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div> -->
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              
              <div class="form-block">
                <a href="{% url 'signup' %}" class="mb-4" >
                    <p  color= white> Sign up</p>
                  </a>
                  <div class="mb-4">
                  <h3>Sign In to <strong><span>T</span>risolace</strong></h3>
        
                  <p class="mb-4">An Investment You Can See.</p>
                  
                </div>
                <form action= "" method= "POST" >{% csrf_token %}
                	{% csrf_token %}
                  <div class="form-group first">
                  	{% csrf_token %}
                    <label for="username">Username</label>
                    <input name="username" type="text" class="form-control" id="username" required>

                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password"required>
                    
                  </div>
                  {% for message in messages %}
                      <p id="messages">{{message}}</p>
                  {% endfor %}  
                  
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                      <input type="checkbox" checked="checked"/>
                      <div class="control__indicator"></div>
                    </label>
                    <span class="ml-auto"><a href="{% url 'reset_password' %}" class="forgot-pass">Forgot Password</a></span> 
                  </div>

                  <input type="submit" value="Login" class="btn btn-pill text-white btn-block btn-primary">

                 
                  
                  
                  </div>
                </form>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="{% static 'signin/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'signin/js/popper.min.js' %}"></script>
    <script src="{% static 'signin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'signin/js/main.js' %}"></script>
  </body>
</html>